.scrollable {
	overflow-x: hidden, scroll;
	overflow-y: hidden, scroll;
}

.has-feedback .form-control {
  padding-right: 0;
}

p {
  font-size: 1.2em;
  font-weight: 500;
}

table {
  white-space: nowrap;
}

#logo_img img {
  max-width: 100%;
  width: 100%; 
  height: auto;
}

#loading-content {
  position: fixed;
  background: #000000;
  z-index: 10000;
  left: 0;
  right: 0;
  top: 0;
  padding-top: 50px;
  bottom: 0;
  font-size: 50px;
  text-align: center;
  color: #FFFFFF;
}


.popover {
  width: 400px;
}

.popover-title {
  font-weight: bold;
}

.popover-link {
  color: #444;
  font-size: 16px;
}

.popover-link {
  vertical-align: top;
}

.popover-link {
  position: relative;
  z-index: 1;
}

.popover-link {
  font-size: 14px;
}


#errorDiv {
  margin-top: 10px;
  color: red;
  font-size: 1.2em;
}

.dropdown-menu { width: 100%; }

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.indented-data-info {
  font-size: 14px;
  font-weight: 400;
  text-indent: 5%;
}

.padded-data-info {
  font-size: 14px;
  font-weight: 400;
  padding-left: 5%;
}


.data-info {
  font-size: 1.2em;
  font-weight: 600;
}


.slidedown {
  overflow-y: hidden;
	max-height: 500px; /* approximate max height */

	transition-property: all;
	transition-duration: .5s;
	transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}

.slidedown.closed {
  max-height: 0px;
}

.next-msg {
  margin-top: 20px;
  color: #777;
  font-size: 1.4em;
  font-weight: bold;
}

#sampleRR, #samplePC, #sampleMM {
  font-size: 0.8em;
  font-weight: normal;
}

