.scrollable {
	overflow-x: hidden, scroll;
	overflow-y: hidden, scroll;
}

.has-feedback .form-control {
  padding-right: 0;
}

p {
  font-size: 1.2em;
  /*font-weight: bold;*/
}

table {
  white-space: nowrap;
}

#logo_img img {
  max-width: 100%;
  width: 100%; 
  height: auto;
}

#loading-content {
  position: fixed;
  background: #000000;
  z-index: 10000;
  left: 0;
  right: 0;
  top: 0;
  padding-top: 50px;
  bottom: 0;
  font-size: 50px;
  text-align: center;
  color: #FFFFFF;
}


.popover {
  width: 400px;
}

.popover-title {
  font-weight: bold;
}

.popover-link {
  color: #444;
  font-size: 16px;
}

.popover-link {
  vertical-align: top;
}

.popover-link {
  position: relative;
  z-index: 1;
}

.popover-link {
  font-size: 14px;
}


#errorDiv {
  margin-top: 10px;
  color: red;
  font-size: 1.2em;
}

.dropdown-menu { width: 100%; }

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}